.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #383b40;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: left;
}

.sidenav a {
  padding: 8px 8px 8px 24px;
  text-decoration: none;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.9);
  display: block;
  transition: 0.3s;
  white-space: nowrap;
}

.sidenav a:hover {
  background-color: #f1f1f1;
  color: grey;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  text-align: center;
  right: 0px;
  font-size: 36px;
}

header nav {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 2rem;
  height: 5.6rem;
}

#last-flex-item {
  margin-left: auto;
}

header nav button {
  background-color: transparent;
  color: hsla(0, 0%, 100%, 0.9);
  border: none;
}

header nav i {
  width: 2.4rem;
  color: grey;
  font-size: 16px;
}

header nav button i {
  transform: scale(1.5, 1);
}

header nav .logo {
  width: 6rem;
  filter: brightness(0) invert(1);
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
