<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
  <head>
    <link rel="stylesheet" href="/css/styles-index-find-jobs.css" />
  </head>
  
  <body>
    <%- include('./partials/header.ejs')%>

    <main>
      <section class="title">
        <h1>Hi!</h1>
        <h2>Be like the Golden Retriever and find your dream job!</h2>
      </section>
      <section class="search-form">
        <form action="/search/jobs" method="post">
          <button type="submit">FIND DREAM JOB</button>
        </form>
      </section>
    
    </main>
  </body>
</html>
