<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head.ejs')%>

  <%- include('./partials/header.ejs')%>

  <main>
    <section class="title">
      <h1>Welcome!</h1>
      <h2>Here you can find other Torre users</h2>
    </section>
    
    <section class="search-form">
      <form action="/search/" method="get">
        <input type="search" name="keyword" placeholder="<%=locals.notFound ? '' : "Search Torre username..."%>"/>
        <span class="not-found"><%= locals.notFound ? 'No results': '' %></span>
        <button type="submit">SEARCH USER</button>
      </form>
    </section>
  </main>

</html>
