<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
  <body>
    <%- include('./partials/header.ejs')%>

    <main>
      <section class="title" style="background-image: url(https://res.cloudinary.com/torre-technologies-co/image/upload/origin/home/heros/t3k2ntg0rpohaaxgt2tu.png);">
        <h1>Hi!</h1>
        <h2>Be like the Golden Retriever and find your dream job!</h2>
      </section>
      <section class="search-form">
        <form action="/search/jobs" method="post">
          <button type="submit">FIND DREAM JOB</button>
        </form>
      </section>
    
    </main>
  </body>
</html>
