<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
  <body>
    <%- include('./partials/header.ejs')%>

    <main>
      <section class="title">
        <h1>Welcome!</h1>
        <h2>Here you can find other Torre users</h2>
      </section>
      <section class="search-form">
        <form action="/search/" method="get">
          <input type="search" name="keyword" placeholder="<%=locals.notFound ? '' : "Search Torre username..."%>"/>
          <p class="not-found"><%= locals.notFound ? `We couldn't find a user named ${locals.userToFind}`: '' %></p>
          <button type="submit">SEARCH USER</button>
        </form>
      </section>
    
    </main>
  </body>
</html>
