<header>
  <nav>
    <span style="font-size:20px;cursor:pointer" onclick="openNav()">&#9776;</span>
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="/"><i class="fas fa-users"></i> Find a User</a>
      <a href="/findJobs"><i class="fas fa-compass"></i> Jobs</a>
      <a href="/yourJobs"><i class="fas fa-suitcase"></i> Your Jobs</a>
    </div>
    

    <a href="/"><img class="logo" src="/img/torre_name_edited.png" alt="torre logo" /></a>
  </nav>
</header>