<header>
  <nav>
    <button class="dropbtn"><i id="burguer" class="fas fa-bars"></i></button>
    <a href="/"><img class="logo" src="/img/torre_name_edited.png" alt="torre logo" /></a>
    <a href=""><i class="fas fa-search"></i></a>
  </nav>
</header>