<section class="title-back-button">
  <h1><%=locals.element.name%></h1>
  <a href="javascript:history.back()">
    <div class="back-button">
      <i class="fas fa-chevron-left"></i>
    </div>
  </a>
</section>